{% extends "layout.html.twig" %}

{% block body %}
<div class="page-header">
    <h1>Участники соревнования {{competition.name}}</h1>
</div>
<div class="table-responsive">
    <div class="col-sm-8 col-lg-8" id="breadcrumbs">
        {% include 'links.html.twig' with {competition: competition} only %}
    </div>
</div>
<a href="{{ path_for('createMember', {'competitionId': competition.id}) }}">Добавить участника</a><br><br>
<div class="table-responsive">
    <table class="table table-bordered table-condensed">
        {% for member in members %}
        <tr {% if member.number is not null %}class="success"{% endif %}>
            <td class="text-center">{{member.number}}</td>
            <td><a href="{{ path_for('editMember', { 'competitionId': competition.id, 'memberId': member.id }) }}" title="Редактировать">{{member.lastName}} {{member.firstName}}</a></td>
            <td class="text-center">{{member.clubName}}</td>
            <td class="text-center">{{member.city}}</td>
            <td class="text-center">{{member.dob}}</td>
            <td>{{member.tags|join(' | ')}}</td>
            <td width="100px" class="text-center">{{member.registrationDate}}</td>
            <td class="text-center"><a href="#" onclick='removeItem("{{competition.id}}", "{{member.id}}"); return false;' title="Удалить"><span class="glyphicon glyphicon-remove text-danger"></span></a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block page_js %}
<script>
    function removeItem(competitionId, memberId) {
        $.ajax({
            url: '/api/competitions/' + competitionId + '/members/' + memberId + '/',
            data: {},
            dataType: 'json',
            type: 'DELETE',
            async: true,
            success: function (data) { // callback method for further manipulations
                console.log(data);
                location.href = '/competitions/' + competitionId + '/members/';
            },
            error: function (data) { // if error occured
                alert('error');
            }
        });
        return false;
    }
</script>
{% endblock %}
