{% extends "layout.html.twig" %}

{% block body %}
<div class="page-header">
    <h1>Ввод результатов {{competition.name}}</h1>
</div>
<div class="table-responsive">
    <div class="col-sm-8 col-lg-8" id="breadcrumbs">
        {% include 'links.html.twig' with {competition: competition} only %}
    </div>
</div>
<div class="table-responsive">
    <div class="col-sm-4 col-lg-4" id="input_field">

        <form class="form-horizontal" id="start1">
            <input type="hidden" name="competitionId" value="{{ competition.id }}">
            <input type="submit" value="Старт 1">
        </form>
        <br>
        <form class="form-horizontal" id="start2">
            <input type="hidden" name="competitionId" value="{{ competition.id }}">
            <input type="submit" value="Старт 2">
        </form>

        <br><br>
        <form class="form-horizontal" id="number">
            <input type="hidden" name="competitionId" value="{{ competition.id }}">
            <label for="number">Введите номер:</label>
            <input type="text" id="memberNumber" name="number" value="">
        </form>
    </div>
    <div class="table-responsive">
        <div class="col-sm-8 col-lg-8" id="last-results" style="height: 150px">
            {% include 'results/partial/last_results.html.twig' with {checkpointResults: lastResults.checkpointResults, members: lastResults.members} only %}
        </div>
    </div>
    <div class="table-responsive">
        <div class="col-sm-8 col-lg-8" id="results">
            {% include 'results/partial/edit_list.html.twig' with {competition: competition, results: allResults.results, members: allResults.members} only %}
        </div>
    </div>
</div>
{% endblock %}

{% block page_js %}
<script src="/js/jquery.serializejson.min.js"></script>
<script>
    function removeItem(competitionId, checkPointResultId) {
        $.ajax({
            url: '/api/competitions/' + competitionId + '/checkpoint-results/' + checkPointResultId + '/',
            data: {},
            dataType: 'json',
            type: 'DELETE',
            async: true,
        }).always(function() {
            success();
        });
        return false;
    }

    function success() {
        var $number = $('#memberNumber');
        $number.focus();
        $number.val('');
        updateLastResults();
    }
    function updateLastResults(){
        $.ajax({
            url: '/competitions/{{competition.id}}/last-results/',
            dataType: 'html',
            type: 'GET',
            async: true,
            success: function (response) { // callback method for further manipulations
                $('#last-results').html(response);
            },
            error: function (data) { // if error occured
                alert('error');
            }

        })
    }
    $(function() { // on document load
        $('#number').submit(function () {
            var data = $('#number').serializeJSON();
            var jsonData = JSON.stringify(data);
            $.ajax({
                url: '/api/competitions/{{competition.id}}/checkpoint-results/',
                data: jsonData,
                dataType: 'json',
                type: 'POST',
                async: true,
                error: function (data) { // if error occured
                    alert('error');
                }
            }).always(function() {
                success();
            });

            return false;
        });

        $('#start1').submit(function () {
            var data = $('#start1').serializeJSON();
            var jsonData = JSON.stringify(data);
            $.ajax({
                url: '/api/competitions/{{competition.id}}/start-1/',
                data: jsonData,
                type: 'POST',
                async: true,
                error: function (data) { // if error occured
                    alert('error');
                }
            }).always(function() {
                success();
            });

            return false;
        });

        $('#start2').submit(function () {
            var data = $('#start2').serializeJSON();
            var jsonData = JSON.stringify(data);
            $.ajax({
                url: '/api/competitions/{{competition.id}}/start-2/',
                data: jsonData,
                type: 'POST',
                async: true,
                success: success(),
                error: function (data) { // if error occured
                    alert('error');
                }
            }).always(function() {
                success();
            });

            return false;
        });

        setInterval("updateLastResults();",60000);
    });
</script>

{% endblock %}
